{% raw %}
<table class="table text-center">
	<thead>
		<tr>
			<th class="border-top-0">Order ID</th>
			<th class="border-top-0">Date</th>
			<th class="border-top-0 d-none d-md-table-cell">Payment</th>
			<th class="border-top-0 d-none d-md-table-cell">Status</th>
			<th class="border-end-0"></th>
		</tr>
	</thead>
	<tbody>
		{%- for this in orders -%}
			<tr>
				<td class="{% if forloop.last %}border-bottom-0{% endif %}">{{this.id}}</td>
				<td class="{% if forloop.last %}border-bottom-0{% endif %}">{{this.created_at | date: "%d/%m/%Y"}}</td>
				<td class="{% if forloop.last %}border-bottom-0{% endif %} d-none d-md-table-cell" style="word-break: normal;">{{context.exports.currency_map.data[this.currency]}}{%- include 'modules/siteglide_ecommerce/ecommerce/price_formatter', price_data: this.price -%}</td>
				<td class="{% if forloop.last %}border-bottom-0{% endif %} d-none d-md-table-cell">{{this.status}}</td></div>
				<td class="{% if forloop.last %}border-bottom-0{% endif %} border-end-0"><a href="{{this.full_slug}}">View Invoice</a></td></div>
			</tr>
		{%- endfor -%}
	</tbody>
</table>
{% endraw %}