<div class="row">
  <div class="col-12 col-lg-8 mb-5 mb-lg-0">
    <blockquote>"{{ this['Quote'] }}”</blockquote>
    <cite>{{ this['name'] }} - {{ this['Job Title'] }} at {{this['Company Name']}}</cite>
  </div>
  <div class="col-12 col-lg-4">
    <img class="rounded-3 mw-100" src="{{ this['Image'] | asset_url }}" alt="{{this['name']}}">
  </div>
</div>