{% raw %}
<section class="sg-events sg-events-list-01 sg-bg-light">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8">
				<div class="d-flex justify-content-between align-items-center pb-3">
					{% assign now = "now" | date: "%s" %}
					{% if context.params.range_type == "past" %}
						<h2 class="h6 sg-h6 mb-1">Past Events</h2>
						<div class="mb-1">
							<a href="{{context.headers.PATH_INFO}}?range_field=events&range_type=future&range_gt={{now}}">Future Events</a> - 
							<a href="{{context.headers.PATH_INFO}}">All Events</a>
						</div>
					{% elsif context.params.range_type == "future" %}
						<h2 class="h6 sg-h6 mb-1">Future Events</h2>
						<div class="mb-1">
							<a href="{{context.headers.PATH_INFO}}?range_field=events&range_type=past&range_lt={{now}}">Past Events</a> -
							<a href="{{context.headers.PATH_INFO}}">All Events</a>
						</div>
					{% else %}
						<h2 class="h6 sg-h6 mb-1">All Events</h2>
						<a class="mb-1" href="{{context.headers.PATH_INFO}}?range_field=events&range_type=past&range_lt={{now}}">Past Events</a>
					{% endif %}
				</div>
				{%- include 'modules/siteglide_system/get/get_items', item_layout: 'item' -%}
				{%- if _show_pagination == 'false' and pagination_layout != blank and pagination_layout != "default" -%}
					{%- include 'modules/siteglide_system/get/get_pagination', pagination_layout: _pagination_layout -%}
				{%- endif -%}
			</div>
			<div class="col-12 col-md-4">
				<div class="sg-sidebar">
					{% capture archive_layout %}{{layout}}/archive{% endcapture %}
					{%- include 'modules/siteglide_events/get/get_events_archive', archive_layout: archive_layout, archive_layout_type: "sidebar_years_and_date_search" -%}
					{% capture categories_layout %}{{layout}}/categories{% endcapture %}
					{%- include 'modules/siteglide_system/get/get_categories', categories_layout: categories_layout, categories_layout_type: 'list' -%}
					{% capture author_layout %}{{layout}}/author{% endcapture %}
					{%- include 'modules/siteglide_authors/get/get_authors', author_layout: author_layout, author_layout_type: 'list', author_field: 'module_field_12_4' -%}
				</div>
			</div>
		</div>
	</div>
	{%- if _show_pagination == 'false' and pagination_layout != blank and pagination_layout != "default" -%}
		{%- include 'modules/siteglide_system/get/get_pagination', pagination_layout: _pagination_layout -%}
	{%- endif -%}
</section>
{% endraw %}