{%- raw -%}<div class="col-12  mb-3 file">
  {% if value != blank %}
    <div class="form-group">
      <label for="existing_file_{{field_id}}">Current {{label}}</label>
      <input class="form-control" {{attributes}} readonly disabled id="existing_file_{{field_id}}" type="text" value="{{value | split: '/' | last }}">
    </div>
  {% endif %}
  <div class="form-group">
    <label for="{{field_id}}">{% if value != blank %}Change{% endif %} {{label}}</label>
    <input {{attributes}} class="form-control" name="{{name}}" id="{{name}}" type="hidden" value="{{value}}">
    <input class="form-control {{validation}} {% if value != blank %} is-valid {% endif %}" {{validation}} id="{{field_id}}_file" type="file" />
  </div>
</div>{%- endraw -%}
