{%- raw -%}<div class="col-12  mb-3">
  <div class="form-group">
    <label class="form-label" for="{{name}}">{{label}}</label>
    <select {{attributes}} name="{{name}}" id="{{name}}" class="{{validation}} form-select py-4 px-5" {{validation}}>
      <option value="">--Please Select--</option>
      {% for option in options %}
        <option {% if value == option %}selected{% endif %} value="{{option}}">{{option}}</option>
      {% endfor %}
    </select>
  </div>
</div>{%- endraw -%}