{%- raw -%}<div class="col-12  mb-3">
  <div class="form-group">
    <label class="form-label" for="{{name}}">{{label}}</label>
    <textarea {{attributes}} id="{{name}}" name="{{name}}" class="form-control {{validation}}" type="text" {{validation}}>{{value}}</textarea>
  </div>
</div>{%- endraw -%}