{%- raw -%}



{% capture sitegurus_ui_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}
{% capture form_html_id %}form_{{sitegurus_ui_uniq_component_id}}{% endcapture %}

<style>
  /* Styles for Progress Bar and Spinner - Hooks into Siteglide JavaScript by watching for changes in form classes */




#{{form_html_id}}.form_submitting #spinner_{{sitegurus_ui_uniq_component_id}} {
  display: block !important;
}

#{{form_html_id}}[data-s-form-progress='0'] #progressBar_{{sitegurus_ui_uniq_component_id}},#{{form_html_id}} #progressBar_{{sitegurus_ui_uniq_component_id}}{
	width: 0%;
}

#{{form_html_id}}[data-s-form-progress='1'] #progressBar_{{sitegurus_ui_uniq_component_id}}{
	width: 10%;
}

#{{form_html_id}}[data-s-form-progress='2'] #progressBar_{{sitegurus_ui_uniq_component_id}}{
	width: 20%;
}

#{{form_html_id}}[data-s-form-progress='3'] #progressBar_{{sitegurus_ui_uniq_component_id}}{
	width: 30%;
}

#{{form_html_id}}[data-s-form-progress='4'] #progressBar_{{sitegurus_ui_uniq_component_id}}{
	width: 40%;
}

#{{form_html_id}}[data-s-form-progress='5'] #progressBar_{{sitegurus_ui_uniq_component_id}}{
	width: 50%;
}

#{{form_html_id}}[data-s-form-progress='6'] #progressBar_{{sitegurus_ui_uniq_component_id}}{
	width: 60%;
}

#{{form_html_id}}[data-s-form-progress='7'] #progressBar_{{sitegurus_ui_uniq_component_id}}{
	width: 80%;
}

#{{form_html_id}}[data-s-form-progress='8'] #progressBar_{{sitegurus_ui_uniq_component_id}}{
	width: 100%;
}
</style>

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="px-4 mx-auto max-w-screen-sm text-center lg:px-6 mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Contact Us</h2>
      <p class="font-light text-gray-600 dark:text-gray-400 sm:text-xl">We use an agile approach to test assumptions and connect with the needs of your audience early and often.</p>
    </div>
    <div class="grid grid-cols-1 lg:gap-8 lg:grid-cols-3">
      <div class="col-span-2 mb-8 lg:mb-0">
        {% form  html_id: form_html_id, html_class: "grid grid-cols-1 gap-8 mx-auto max-w-screen-md sm:grid-cols-2" -%}
          {% include "modules/module_86/form_layout_fields", collection: 'true', disable_fields: "Name" %}
          <h2 class="text-xl font-medium text-gray-900 dark:text-white col-span-full">{{context.exports.module_86.form_properties.form_name.value}}</h2>
          {{context.exports.module_86.form_fields | html_safe: raw_text: true }}
          {{context.exports.module_86.form_hidden | html_safe: raw_text: true }}
          {% assign form_addresses = context.exports.module_86.form_addresses | parse_json %}
          {% for address in form_addresses %}
            <h3 class="text-lg font-medium text-gray-900 dark:text-white col-span-full">{{address[0]}}</h3>
            {{address[1].html | html_safe: raw_text: true}}
          {% endfor %}
          {% if context.exports.module_86.form_payment != blank %}
            <h3 class="text-lg font-medium text-gray-900 dark:text-white col-span-full">Payment Details</h3>
            <div class="col-span-full">
              {{context.exports.module_86.form_payment | html_safe: raw_text: true }}
            </div>
          {% endif %}
          {% if context.exports.module_86.form_recaptcha != blank %}
            <div class="col-span-full">
              {{context.exports.module_86.form_recaptcha | html_safe: raw_text: true }}
            </div>
          {% endif %}
          <div data-main-error class="hidden col-span-full">
            <div class="p-4 mb-4 text-sm text-danger-700 bg-danger-100 rounded-lg dark:bg-danger-200 dark:text-danger-800" role="alert">
              <span class="font-medium">Error</span>
              <span data-main-error-message><!-- Main Siteglide validation message will appear here. --></span>
            </div>
          </div>
          <div class="col-span-full">
            <button type="submit" class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
              <div class="flex align-center">
                <span>Submit</span>
                <div id="spinner_{{sitegurus_ui_uniq_component_id}}" class="hidden ml-2">
                  <svg  role="status" class="w-6 h-6 text-gray-200 animate-spin dark:text-gray-600 fill-primary-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                  </svg>
                </div>
              </div>
            </button>
          </div>
          <div class="col-span-full">
            <div class="w-auto bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <div id="progressBar_{{sitegurus_ui_uniq_component_id}}" class="bg-primary-600 h-2.5 rounded-full"></div>
            </div>
          </div>
        {% endform %}
      </div>
      <div class="grid grid-cols-1 col-span-1 gap-8 text-center sm:grid-cols-2 lg:grid-cols-1">
        <div>
          <div class="flex justify-center items-center mx-auto mb-4 w-10 h-10 bg-gray-100 rounded-lg dark:bg-gray-800 lg:h-16 lg:w-16">
            <svg class="w-5 h-5 text-gray-600 lg:w-8 lg:h-8 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h8a2 2 0 012 2v12a1 1 0 110 2h-3a1 1 0 01-1-1v-2a1 1 0 00-1-1H9a1 1 0 00-1 1v2a1 1 0 01-1 1H4a1 1 0 110-2V4zm3 1h2v2H7V5zm2 4H7v2h2V9zm2-4h2v2h-2V5zm2 4h-2v2h2V9z" clip-rule="evenodd"></path></svg>
          </div>
          <p class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Company information:</p>
          <p class="text-gray-500 dark:text-gray-400">{{context.exports.company_information.properties.company_name}} <br>Tax id: {{context.exports.company_information.properties.vat_number}}</p>
        </div>
        <div>
          <div class="flex justify-center items-center mx-auto mb-4 w-10 h-10 bg-gray-100 rounded-lg dark:bg-gray-800 lg:h-16 lg:w-16">
            <svg class="w-5 h-5 text-gray-600 lg:w-8 lg:h-8 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
          </div>
          <p class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Address:</p>
          <p class="text-gray-500 dark:text-gray-400">{{context.exports.company_information.properties.address_line_1}} <br>{{context.exports.company_information.properties.address_line_2}}</p>
        </div>
        <div>
          <div class="flex justify-center items-center mx-auto mb-4 w-10 h-10 bg-gray-100 rounded-lg dark:bg-gray-800 lg:h-16 lg:w-16">
            <svg class="w-5 h-5 text-gray-600 lg:w-8 lg:h-8 dark:text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path></svg>
          </div>
          <p class="mb-2 text-xl font-bold text-gray-900 dark:text-white">Call us:</p>
          <p class="mb-3 text-gray-500 dark:text-gray-400">Call us to speak to a member of our team. We are always happy to help.</p>
          <a  href="tel:{{context.exports.company_information.properties.phone_number}}" class="font-semibold text-primary-600 dark:text-primary-500">{{context.exports.company_information.properties.phone_number}}</a>
        </div>
      </div>
    </div>
  </div>
</section>


<script>
  /* The following optional script allows support for validation. If removing it, make sure to return the normal Siteglide submit function to the button. */

  //Make sure Sitegurus Form API is ready.
  if(typeof sGCheckboxValidation == "function") {
    initForm_{{sitegurus_ui_uniq_component_id}}();
  } else {
    var forms_api_script = document.querySelector('#sitegurus_forms_javascript_api');
    if(forms_api_script) {
      forms_api_script.addEventListener('load', initForm_{{sitegurus_ui_uniq_component_id}});
    } else {
      console.error('Make sure the async #sitegurus_forms_javascript_api script tag is included in the <head> of the page.')
    }
  }
  //Set up Form JS
  function initForm_{{sitegurus_ui_uniq_component_id}}() {
    var form_html_id = "{{form_html_id}}";
    var form = document.querySelector('#'+form_html_id);
    var submitButton = form.querySelector('button[type=submit]');
    //Add BS support for checkboxes and radios to change events.
    var checksAndRadios = form.querySelectorAll('.required input[type=checkbox],.required input[type=radio]');
    checksAndRadios.forEach(
      function(item) {
        item.addEventListener('change', sGCheckboxValidation)
      }
    );
    //Set initial radio validation
    sGCheckboxValidation(null, {form});
    //Define custom error function for Siteglide Form
    function sGFormCustomError(error, error_details) {
      //Show main error
      error = s_error_formatter(error);
      var formErrorContainer = form.querySelector('[data-main-error]');
      if(error && formErrorContainer) {
        formErrorContainer.classList.remove('hidden');
        formErrorContainer.querySelector('[data-main-error-message]').textContent = error;
      }
      //Find individual input errors and restyle
      /* var inputErrorArray = form.querySelectorAll('.input-error');
      var inputSuccessArray = form.querySelectorAll('input:not(.input-error)');
      var inputSuccessClassList = " valid:bg-success-50 valid:border valid:border-success-500 valid:text-success-900 valid:placeholder-success-700 valid:text-sm valid:rounded-lg valid:focus:ring-success-500 valid:focus:border-success-500 valid:block valid:w-full valid:p-2.5  dark:valid:bg-gray-700  dark:valid:border-success-400";
      var labelSuccessClassList = " peer-valid:block peer-valid:mb-2 peer-valid:text-sm peer-valid:font-medium peer-valid:text-success-700  dark:peer-valid:text-success-500";
      var inputErrorClassList = " invalid:block invalid:mb-2 invalid:text-sm invalid:font-medium invalid:text-danger-700  dark:invalid:text-danger-500";
      var labelErrorClassList = " peer-invalid:bg-danger-50 peer-invalid:border peer-invalid:border-danger-500 peer-invalid:text-danger-900 peer-invalid:placeholder-danger-700 peer-invalid:text-sm peer-invalid:rounded-lg peer-invalid:focus:ring-danger-500 peer-invalid:focus:border-danger-500 peer-invalid:block peer-invalid:w-full peer-invalid:p-2.5  dark:peer-invalid:bg-danger-100  dark:peer-invalid:border-danger-400";
      inputErrorArray.forEach(
        function(item) {
          var parentElement = item.parentElement;
          var input = parentElement.querySelector('input');
          var label = parentElement.querySelector('label');
          inputSuccessClassList.forEach(
            function(class) {
              input.classList.remove(class);
            }
          );
          inputErrorClassList.forEach(
            function(class) {
              input.classList.add(class);
            }
          );
          labelSuccessClassList.forEach(
            function(class) {
              label.classList.remove(class);
            }
          );
          labelErrorClassList.forEach(
            function(class) {
              label.classList.add(class);
            }
          );
        }
      )
      inputSuccessArray.forEach(
        function(item) {
          var parentElement = item.parentElement;
          var input = parentElement.querySelector('input');
          var label = parentElement.querySelector('label');
          inputSuccessClassList.forEach(
            function(class) {
              input.classList.add(class);
            }
          );
          inputErrorClassList.forEach(
            function(class) {
              input.classList.remove(class);
            }
          );
          labelSuccessClassList.forEach(
            function(class) {
              label.classList.add(class);
            }
          );
          labelErrorClassList.forEach(
            function(class) {
              label.classList.remove(class);
            }
          );
        }
      ) */
      form.classList.add('group');
      //Scroll to first error
      var fieldError = form.querySelector('.input-error');
      if(fieldError) {
        fieldError.scrollIntoView(true);
      }
      var invalid_fields = form.querySelectorAll('.input-error');
      //Remove Siteglide error class for styling consistency in tailwind
      form.classList.add('was-submitted')
      invalid_fields.forEach(function(field){
        field.classList.remove('input-error');
      })
      //Mark invalid field classes as HTML invalid for Tailwind
      /*var invalid_fields = form.querySelectorAll('.input-error');
      var valid_fields = form.querySelectorAll('input,select,textarea:not(.input-error)');
      invalid_fields.forEach(function(item) {
        item.setCustomValidity("Invalid field.");
      });
      valid_fields.forEach(function(item) {
        item.setCustomValidity("");
      }*/

    }
    //Change Siteglide Form Submit Function to an Event Listener
    function sGFormSubmit(event) {
      sGCheckboxValidation(null, {form});
      form.classList.remove('group');
      s_form_submit_v2(event.currentTarget,form_html_id, sGFormCustomError);
    }
    submitButton.addEventListener('click', sGFormSubmit);
  }
</script> 

{%- endraw -%}