{%- raw -%}

{% assign root_url = root_url | default: context.headers.PATH_INFO %}

{% assign query_params = context.headers.QUERY_STRING | split: "&" %}
{% assign new_query_params = "[]" | parse_json %}
{% for param in query_params %}
  {% assign map = param | split: "=" %}
  {% unless map[0] == "page" %}
    {% assign new_query_params = new_query_params | add_to_array: param %}
  {% endunless %}
{% endfor %}
{% assign new_query_params = new_query_params | join: "&" %}

{% if this.model %}
  {% assign webapp_model = "webapp_" | append: id %}
  {% assign total_entries = context.exports[webapp_model].data.result.total_entries %}
{% else %}
  {% assign module_model = "module_" | append: id %}
  {% assign total_entries = context.exports[module_model].data.result.total_entries %}
{% endif %}
{% assign per_page = _per_page %}
{% assign page_number = context.params.page | at_least: 1 %}

{% assign increment = per_page | format_number: precision: 1 | divided_by: 2 | round %}
{% assign increment_modulo = increment | modulo: 2 %}
{% if increment_modulo == 1 and per_page == 1 %}
  {% assign start = page_number | times: per_page | at_least: 1 %}
{% else %}
  {% assign start = page_number | times: per_page | minus: per_page | plus: 1 | at_least: 1 %}
{% endif %}
{% assign end = page_number | times: per_page | at_most: total_entries %}

{%- if total_pages != 1 -%}
  <div class="flex flex-col items-center">
    <!-- Help text -->
    <span class="text-sm text-gray-700 dark:text-gray-400">
      Showing <span class="font-semibold text-gray-900 dark:text-white">{{start}}</span> to <span class="font-semibold text-gray-900 dark:text-white">{{end}}</span> of <span class="font-semibold text-gray-900 dark:text-white">{{total_entries}}</span> Entries
    </span>
    <div class="inline-flex mt-2 xs:mt-0">
      <!-- Buttons -->
      {{prev_page}}
      {% unless previous_page == false %}
        <a class="inline-flex items-center py-2 px-4 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white {% if next_page == false %}rounded-r{% endif %}" href="{{root_url}}?{{new_query_params}}&page={{current_page | minus: 1 | at_least: 1 }}" title="Previous page">
          <svg aria-hidden="true" class="mr-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path></svg>
            Prev
        </a>
      {% endunless %}
      {% unless next_page == false %}
        <a class="inline-flex items-center py-2 px-4 text-sm font-medium text-white bg-gray-800 rounded-r border-0 border-l border-gray-700 hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white {% if previous_page == false %}rounded-l{% endif %}" href="{{root_url}}?{{new_query_params}}&page={{current_page | plus: 1 | at_most: total_pages }}" title="Next page">
            Next
          <svg aria-hidden="true" class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
      {% endunless %}
    </div>
  </div>
{% endif %}

{%- endraw -%}