{%- raw -%}

{% capture sitegurus_ui_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}
{% capture form_html_id %}webapp_{{sitegurus_ui_uniq_component_id}}{% endcapture %}

<style>

/* Reset Siteglide Error Outline to Bootstrap Native */
.input-error:not([required]) {
  border: 0 !important;
}
.input-error.form-control:valid,.input-error.form-select:valid {
  border-color: #57DE8F !important;
}

/* Hide the Spinner by default */
.spinner-border {
  opacity: 0%;
  display: inline-block;
  margin-left: 10px;
}

/* While submitting, show the loading Spinner and run animation*/
.form_submitting .spinner-border {
  opacity: 100%;
}

#{{form_html_id}}:not([data-s-form-progress]) .progress,#{{form_html_id}}[data-s-form-progress='0'] .progress {
  display: none;
}

#{{form_html_id}}[data-s-form-progress='0'] .progress-bar{
	width: 0%;
}

#{{form_html_id}}[data-s-form-progress='1'] .progress-bar{
	width: 10%;
}

#{{form_html_id}}[data-s-form-progress='2'] .progress-bar{
	width: 20%;
}

#{{form_html_id}}[data-s-form-progress='3'] .progress-bar{
	width: 30%;
}

#{{form_html_id}}[data-s-form-progress='4'] .progress-bar{
	width: 40%;
}

#{{form_html_id}}[data-s-form-progress='5'] .progress-bar{
	width: 50%;
}

#{{form_html_id}}[data-s-form-progress='6'] .progress-bar{
	width: 60%;
}

#{{form_html_id}}[data-s-form-progress='7'] .progress-bar{
	width: 80%;
}

#{{form_html_id}}[data-s-form-progress='8'] .progress-bar{
	width: 100%;
}
</style>
<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-3 col-lg-6">
        <div class="p-5 bg-white">
          
          {% form  html_id: form_html_id, html_class: "form needs-validation", html-novalidate: true -%}
            
            {% include "modules/module_86/form_layout_fields", collection: 'true', disable_fields: "Name" %}
            <h2 class="mb-5">Create New {{context.exports.module_86.form_properties.webapp_name.value}} Item</h2>
            <div class="row">
              {{context.exports.module_86.form_fields | html_safe: raw_text: true }}
              {{context.exports.module_86.form_hidden | html_safe: raw_text: true }}
            </div>
            {% assign form_addresses = context.exports.module_86.form_addresses | parse_json %}
            {% for address in form_addresses %}
              <h3 class="h4 mb-3">{{address[0]}}</h3>
              <div class="row">
                {{address[1].html | html_safe: raw_text: true}}
              </div>
            {% endfor %}
            {% if context.exports.module_86.form_payment != blank %}
              <h3 class="h4 mb-3">Payment Details</h3>
              <div class="row">
                {{context.exports.module_86.form_payment | html_safe: raw_text: true }}
              </div>
            {% endif %}
            {% if context.exports.module_86.form_recaptcha != blank %}
              <div class="row">
                {{context.exports.module_86.form_recaptcha | html_safe: raw_text: true }}
              </div>
            {% endif %}
            <div class="row">
              <div class="col-12 col-lg-8">
                <div class="form-error alert alert-danger mb-2">
                  <!-- Main Siteglide validation message will appear here. -->
                </div>
                <button type="submit" class="btn w-100 btn-primary">
                  <div class="d-flex align-items-center justify-content-center position-relative">
                    <span>Submit</span>
                    <div style="right: -3px;" class="spinner-border spinner-light spinner-border-sm position-absolute m-0 d-flex align-items-center justify-content-center" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                  </div>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-lg-8">
                <div class="my-2 progress" id="progressBar">
                  <div class="progress-bar" id="progressContent"></div>
                </div>
              </div>
            </div>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  /* The following optional script allows support for Bootstrap validation. */

  //Make sure Sitegurus Form API is ready.
  if(typeof sGCheckboxValidation == "function") {
    initForm_{{sitegurus_ui_uniq_component_id}}();
  } else {
    var forms_api_script = document.querySelector('#sitegurus_forms_javascript_api');
    if(forms_api_script) {
      forms_api_script.addEventListener('load', initForm_{{sitegurus_ui_uniq_component_id}});
    }
  }
  //Set up Form JS
  function initForm_{{sitegurus_ui_uniq_component_id}}() {
    var form_html_id = "{{form_html_id}}";
    var form = document.querySelector('#'+form_html_id);
    var submitButton = form.querySelector('button[type=submit]');
    //Add BS support for checkboxes and radios to change events.
    var checksAndRadios = form.querySelectorAll('.required input[type=checkbox],.required input[type=radio]');
    checksAndRadios.forEach(
      function(item) {
        item.addEventListener('change', sGCheckboxValidation)
      }
    );
    //Define custom error function for Siteglide Form
    function sGFormCustomErrorBootsrap(error, error_details) {
      if(error.code) {
        if(error.code.length > 0) {
          error = error.code[0];
        } else {
          error = s_error_formatter(error);
        }
      } else {
        error = s_error_formatter(error);
      }
      var formErrorContainer = form.querySelector('.form-error');
      if(error && formErrorContainer) {
        
        console.error(error);
        formErrorContainer.textContent = "Please check you have completed all the required fields. Error: "+error;
        formErrorContainer.style.display = "block";
      }
      form.classList.add('was-validated');
      var fieldError = form.querySelector('.form-control:invalid');
      if(fieldError) {
        fieldError.scrollIntoView(true);
      }
    }
    //Change Siteglide Form Submit Function to an Event Listener
    function sGFormSubmit(event) {
      sGCheckboxValidation(null, {form});
      form.classList.remove('was-validated');
      s_form_submit_v2(event.currentTarget,form_html_id, sGFormCustomErrorBootsrap);
    }
    submitButton.addEventListener('click', sGFormSubmit);
  }
</script>
{%- endraw -%}