{%- raw -%}

{% if previous_page != false %}
  {% assign previous_page = true %}
{% endif %}
{% if next_page != false %}
  {% assign next_page = true %}
{% endif %}


{%- if total_pages != 1 -%}
  <nav class="" aria-label="Change Page">
    <ul class="pagination">
      {% assign root_url = root_url | default: context.headers.PATH_INFO %}
      {% if context.device.device_type == "desktop" %}
        {% assign show = 6 %}
      {% elsif context.device.device_type == "tablet" %}
        {% assign show = 4 %}
      {% else %}
        {% assign show = 2 %}
      {% endif %}
      {% assign range_a = current_page | minus: show | at_least: 1 %}
      {% assign range_b = current_page | minus: 1 | at_least: 1 %}
      {% assign range_c = current_page | plus: 1 | at_most: total_pages %}
      {% assign range_d = current_page | plus: show | at_most: total_pages %}

      {% assign query_params = context.headers.QUERY_STRING | split: "&" %}
      {% assign new_query_params = "[]" | parse_json %}
      {% for param in query_params %}
        {% assign map = param | split: "=" %}
        {% unless map[0] == "page" %}
          {% assign new_query_params = new_query_params | add_to_array: param %}
        {% endunless %}
      {% endfor %}
      {% assign new_query_params = new_query_params | join: "&" %}
      {% if previous_page == true %}
        {% comment %} Previous Page {% endcomment %}
        <li class="page-item">
          <a class="page-link" href="{{root_url}}?{{new_query_params}}&page={{current_page | minus: 1 | at_least: 1 }}" title="Previous Page">
            <span class="sr-only">Previous</span>
            <svg style="width: 1rem; height: 1rem;" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
          </a>
        </li>
        {% comment %} Indicate More Pages Exist behind {% endcomment %}
        {% if range_a > 1 %}
          <li class="page-item d-flex align-items-center mx-1">
            <span class="sr-only">More previous pages are available</span>
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 1rem; height: 1rem;" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" /></svg>
            
          </li>
        {% endif %}
        {% comment %} Previous Pages {% endcomment %}
        {% for page_button in (range_a..range_b) %}
          {%- capture _path -%}{{root_url}}?{{new_query_params}}&page={{page_button}}{%- endcapture -%}
          <li class="page-item">
              <a class="page-link"  href="{{_path}}" title="Page {{page_button}}">{{page_button}}</a>
          </li>
        {% endfor %}
      {% endif %}
      {% comment %} Current Page {% endcomment %}
      {%- capture _path -%}{{root_url}}?{{new_query_params}}&page={{current_page}}{%- endcapture -%}
      <li class="page-item active">
          <a aria-current="page" class="page-link"  href="{{_path}}" title="Page {{current_page}}">{{current_page}} <span class="sr-only">(current page)</span></a>
      </li>
      {% comment %} Next Pages {% endcomment %}
      {% if next_page == true %}
        {% for page_button in (range_c..range_d) %}
          {%- capture _path -%}{{root_url}}?{{new_query_params}}&page={{page_button}}{%- endcapture -%}
          <li class="page-item">
              <a class="page-link"  href="{{_path}}" title="Page {{page_button}}">{{page_button}}</a>
          </li>
        {% endfor %}
        {% comment %} Indicate More Pages Exist in front {% endcomment %}
        {% if range_d < total_pages %}
          <li class="page-item d-flex align-items-center mx-1">
            <span class="sr-only">More subsequent pages are available</span>
            <svg xmlns="http://www.w3.org/2000/svg" style="width: 1rem; height: 1rem;" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" /></svg>
          </li>
        {% endif %}
        {% comment %} Next Page {% endcomment %}
        <li class="page-item">
          <a class="page-link" href="{{root_url}}?{{new_query_params}}&page={{current_page | plus: 1 | at_most: total_pages }}" title="Next Page">
            <span class="sr-only">Next</span>
            <svg style="width: 1rem; height: 1rem;" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{%- endif -%}
{%- endraw -%}