{%- raw -%}
{% comment %}---Settings---{% endcomment %}
  {% comment %}------Insert your Blog List View URL here to go there for sorting, searching and filtering results.  {% endcomment %}
  {% assign blog_list_page_url = "/blog" %}
  {% comment %}------Show a sidebar?  {% endcomment %}
  {% assign sidebar = true %}
  {% comment %} Default (null) is to show all categories in the sidebar. Alternatively, pass in an id (in quotes e.g. '6') for a category which is the parent of blog categories to only show relevant categories. {% endcomment %}
  {% assign blog_parent_category = null %}
{% comment %}---End Settings---{% endcomment %}
{% capture sitegurus_ui_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}

{% assign authors = "" | split: "," %}
{% for blog_post in context.exports['module_3'].data.result.items %}
  {% assign authors = authors | add_to_array: blog_post.properties.module_field_3_4 %}
{% endfor %}
{% assign authors = authors | flatten | uniq %}

{% comment %} We are temporarily using GraphQl here while a Siteglide bug is fixed. {% endcomment %}
{% graphql author_results, item_ids: authors, per_page: 2000 %}
  query author_results($item_ids: [ID!]!, $per_page: Int!) {
    records(
      per_page: $per_page,
      filter: {
        id: {
          value_in: $item_ids
        }
      }
    ) {
      results {
        id
        properties
      }
    }
  }
{% endgraphql %}


<section class="bg-white dark:bg-gray-900">
  <div class="grid py-8 px-4 mx-auto max-w-screen-xl lg:gap-16 sm:grid-cols-2 lg:grid-cols-3 items-start lg:py-16 lg:px-6 ">
      <div class="sm:col-span-2 lg:col-span-1">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray dark:text-white pl-1">Our Blog</h2>
          <p class="font-white text-gray-500 dark:text-gray-400 sm:text-xl mb-10 pl-1">
          {% if context.params.range_type == "between" %}
            <p class="lead text-muted dark:text-gray-400">
            Posts between {{context.params.range_gt | date: "%d-%b-%y"}}
            {{context.params.range_gte | date: "%d-%b-%y"}} 
            and 
            {{context.params.range_lt | date: "%d-%b-%y"}}
            {{context.params.range_lte | date: "%d-%b-%y"}}
            </p>
          {% elsif context.params.range_type == "month" %}
            <p class="lead text-muted dark:text-gray-400">
            Posts from {{context.params.range_gt | date: "%b-%y"}}
            {{context.params.range_gte | date: "%b-%y"}}
            </p>
          {% elsif context.params.category != blank %}
            <p class="lead text-muted dark:text-gray-400">Posts about {{context.exports.categories.data[context.params.category].name}}</p>
          {% elsif context.params.module_field_3_4 != blank %}
            <p class="lead text-muted dark:text-gray-400">Posts by {{context.params.author_name | url_decode}}</p>
          {% elsif context.params.keyword != blank %}
            <p class="lead text-muted dark:text-gray-400">Search Results for "{{context.params.keyword | url_decode}}" in Blog</p>
          {% else %}
            All Posts
          {% endif %}</p>
          {% if sidebar == true %}
              {% capture sidebar %}layouts/modules/module_3/{{layout}}/sidebar{% endcapture %}
              {%- include sidebar -%}
        {% endif %}
      </div>
      <div class="col-span-2 divide-y divide-gray-200 dark:divide-gray-700">
          {%- include 'modules/siteglide_system/get/get_items', item_layout: 'item' -%}               
      </div>  
      
  </div>
  {%- if _show_pagination == 'false' and pagination_layout != blank and pagination_layout != "default" -%}
    {%- include 'modules/siteglide_system/get/get_pagination', pagination_layout: _pagination_layout -%}
  {%- endif -%}
</section>
{%- endraw -%}