{% raw %}
<div class="d-flex flex-column h-100 mt-3" data-product-group>
	<h4 class=" fw-bolder">{{this.price.currency_symbol}}{{this.price.price_charge_formatted}}</h4>
	<h2 class="card-title h5 sg-h5 mb-3  fw-bolder">{{this['Item Name']}}</h2>
	<div class=" mb-0 p-0">{{this.Description}}</div>
		<form class="mt-auto">
			<div class="form-group mb-0">
				<div class="row justify-content-between">
					<div class="col-4">
						<label for="sg-ecommerce-detail-01-name" class="">Quantity</label>
						<input type="number" data-quantity-control id="sg-ecommerce-detail-01-name" class="form-control form-control-sm" min="1" value="1">
					</div>
					<div class="col-8 d-flex align-items-end justify-content-end">
            {% capture cart_add_layout %}{{og_layout}}{% endcapture %}
						{% include 'ecommerce/cart_add', component_layout: cart_add_layout -%}
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
{% endraw %}