{%- raw -%}<div class="col-12   mb-5  datasource_multi">
  <div class="form-group">
    <label class="form-label" for="{{name}}">{{label}}</label>
    <select {{attributes}} {{validation}} class="form-control {{validation}}" name="{{name}}" id="{{name}}" multiple>
      {% for option in options -%}
        <option {% if value contains option.id %} selected="true" {% endif %} value="{{option.id}}">{{option.properties.name}}</option>
      {% endfor -%}
    </select>
  </div>
</div>{%- endraw -%}