{%- raw -%}<div class="col-12  mb-5">
  <div class="form-group">
    <label class="form-label" for="{{name}}">{{label}}</label>
    <input {{attributes}} {{validation}} id="{{name}}" name="{{name}}" class="form-control {{validation}}" type="text" value="{{value}}">
  </div>
</div>{%- endraw -%}