{%- raw -%}


<div class="col-span-6 sm:col-full">
  <img class="mb-4 w-28 h-28 rounded-lg sm:mb-0 xl:mb-4 2xl:mb-0 bg-gray-50 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 object-cover" src="{% if value != blank %}{{value | asset_url}}{% else %}data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor' stroke-width='2'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z' /%3E%3C/svg%3E{% endif %}" alt="Current Image for {{label}}" data-file-preview="{{field_id}}_file">
  <div>
    {% comment %} <h3 class="mb-1 text-2xl font-bold text-gray-900 dark:text-white">{{context.exports.current_user.name}}</h3> {% endcomment %}
    {% comment %} <div class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Software Engineer
    </div> {% endcomment %}
    <label class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400" for="{{field_id}}">{{label}}</label>
    <input {{attributes}} name="{{name}}" id="{{name}}" type="hidden" value="{{value}}">
    <input class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 h-0 invisible" {{validation}} id="{{field_id}}_file" type="file" />
    
    <button id="{{field_id}}_file_vanity" type="button" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-primary-700 rounded-lg hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
      <svg class="mr-2 -ml-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5.5 13a3.5 3.5 0 01-.369-6.98 4 4 0 117.753-1.977A4.5 4.5 0 1113.5 13H11V9.413l1.293 1.293a1 1 0 001.414-1.414l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13H5.5z"></path><path d="M9 13h2v5a1 1 0 11-2 0v-5z"></path></svg>
      {% if value != blank %}Change picture{% else %}Add picture{% endif %}
    </button>
    <script>
      var file_input = document.querySelector('#{{field_id}}_file');
      var vanity_input = document.querySelector('#{{field_id}}_file_vanity');
      vanity_input.addEventListener('click', initUpload{{field_id}});
      function initUpload{{field_id}}(event) {
        file_input.click();
      }
      //Run exported Siteglide System function on file change to display preview.
      if(typeof window.previewFile == 'function') {
        file_input.addEventListener('change', window.previewFile);
      }

    </script>
  </div>
</div>
{%- endraw -%}