{% raw %}
<tr>
	<td scope="row" class="p-0 py-md-4 pe-md-4 d-block d-md-table-cell text-center text-md-start">
		<img src="{{this['Image'] | asset_url }}" alt="{{this.name}}" class="mb-3">
		<p class="mb-3">{{this['name']}}</p>
	</td>
	<td class="p-0 py-md-4 pe-md-4 d-none d-md-table-cell">
		{% for attribute in this.cart_data.attributes -%}
			{%- if attribute.last -%}
				<p>{{attribute.last.product_attribute.name}}: {{attribute.last.name}}</p>
			{%- endif -%}
		{% endfor -%}
	</td>
	<td class="p-0 py-md-4 pe-md-4 d-block d-md-table-cell text-center mb-3">
		{% if this.inventory.id != blank and this.inventory.quantity == '0' -%}
			Out of Stock
		{% else %}
			<label for="quantity" class="d-md-none">Quantity</label>
			<input class="form-control py-2 " type="number" id="quantity" name="quantity" min="1" max="{{this.inventory.quantity | default: 1}}" value="{{this.cart_data.quantity}}" onchange="s_e_cart_update_quantity(event.target.value,{{this.cart_data.cart_id}},'{{context.authenticity_token}}')">
		{% endif %}
	</td>
	<td class="p-0 py-md-4 pe-md-4 d-block d-md-table-cell text-center text-md-start">
		<p class="mb-3 mb-md-0">{{this.price.currency_symbol}}{{this.cart_data.price}}</p>
	</td>
	<td class="p-0 py-md-4 ps-md-4 d-block d-md-table-cell text-center text-md-end">
		<button class="btn btn-secondary sg-btn sg-btn-secondary px-4 py-3 mb-5 mb-md-0"  onclick="s_e_cart_remove(true,{{this.cart_data.cart_id}})"><i class="fas fa-trash"></i><span class="sr-only">Remove</span></button>
	</td>
</tr>
{% endraw %}