{%- raw -%}
{% comment %}---Settings---{% endcomment %}
  {% comment %}------Insert your FAQ List View URL here to go there for sorting, searching and filtering results.  {% endcomment %}
  {% assign faq_list_page_url = "/frequently-asked-questions" %}
  {% comment %} Default (null) is to show all categories at the bottom. Alternatively, pass in an id (in quotes e.g. '6') for a category which is the parent of faq categories to only show relevant categories. {% endcomment %}
  {% assign faq_parent_category = null %}
{% comment %}---End Settings---{% endcomment %}
{% capture sitegurus_ui_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-16">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">How can we help you?</h2>
      <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-500">Here are a few of the questions we get the most. If you don't see what's on your mind, reach out to us anytime on phone, chat, or email.</p>
      {% capture search %}layouts/modules/module_10/{{layout}}/search{% endcapture %}
      {%- include search -%}
      {% if params.keyword != blank %}
        <p class="mt-4 text-sm text-gray-500 dark:text-gray-400">Search results for: "{{params.keyword}}"</p>
      {% elsif params.category != blank %}
        <p class="mt-4 text-sm text-gray-500 dark:text-gray-400">Search results for: "{{context.exports.categories.data[params.category].name}}" category</p>
      {% else %}
        <p class="mt-4 text-sm text-gray-500 dark:text-gray-400">You can also browse the topics below to find what you are looking for.</p>
      {% endif %}
    </div>
    <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      {% for category in context.exports.categories.data %}
        {% if category[1].parent == faq_parent_category or faq_parent_category == blank %}
          {% if category[0] == params.category or params.category == blank %}
            {% assign has_items = false %}
            {% for item in context.exports["module_10"].data.result.items %}
              {% if item.properties.category_array contains category[0] %}
                {% assign has_items = true %}
              {% endif %}
            {% endfor %}
            {% if has_items == true %}
              <div class="p-4 rounded shadow dark:bg-gray-800">
                <div class="flex justify-center items-center mb-4 w-10 h-10 rounded bg-primary-100 dark:bg-primary-900 lg:h-12 lg:w-12">
                  <svg class="w-5 h-5 text-primary-600 lg:w-6 lg:h-6 dark:text-primary-300" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                </div>
                <h3 class="mb-4 text-xl font-bold dark:text-white">{{category[1].name | replace: " ", "&nbsp;"}}</h3>
                <ul role="list" class="mb-4 space-y-3 text-gray-500 dark:text-gray-400">
                  {%- include 'modules/siteglide_system/get/get_items', item_layout: 'item' -%}
                </ul>
                <a href="{{faq_list_page_url}}?category={{category[1].id}}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">See all</a>
              </div>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
{% endraw %}