{%- raw -%}
	{% if context.exports.module_86.flowbite_datepicker_script_included == blank  %}
		<script src="https://unpkg.com/flowbite@1.4.7/dist/datepicker.js"></script>
		{% assign flowbite_datepicker_script_included = true %}
		{% export flowbite_datepicker_script_included, namespace: "module_86" %}
	{% endif %}
	<div class="mb-4">
		<h4 class="text-lg dark:text-white mb-2">Archive</h4>
		<div data-accordion="accordion_event_archive_{{sitegurus_ui_uniq_component_id}}" id="accordion_event_archive_{{sitegurus_ui_uniq_component_id}}">
			{% for year in events_archive_years %}
				<h2 id="accordion_event_archive_h_{{forloop.index}}_{{sitegurus_ui_uniq_component_id}}">
					<button type="button" class="flex justify-between items-center p-5 w-full font-medium text-left text-gray-500 {% if forloop.first %}rounded-t-xl{% elsif forloop.last %}rounded-b-xl{% endif %} border {% unless forloop.last %}border-b-0{% endunless %} border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800" data-accordion-target="#accordion_event_archive_{{forloop.index}}_{{sitegurus_ui_uniq_component_id}}" aria-expanded="false" aria-controls="accordion_event_archive_{{forloop.index}}_{{sitegurus_ui_uniq_component_id}}">
					<span>{{year.start | date: "%Y"}}</span>
					<svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
					</button>
				</h2>
				<div id="accordion_event_archive_{{forloop.index}}_{{sitegurus_ui_uniq_component_id}}" class="hidden" aria-labelledby="accordion_event_archive_h_{{forloop.index}}_{{sitegurus_ui_uniq_component_id}}">
					<div class="p-5 border {% unless forloop.last %}border-b-0{% endunless %} border-gray-200 dark:border-gray-700 dark:bg-gray-900">
						<div class="w-full text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
							{% assign months_by_year = events_archive_months | group_by: "year" %}
							{% for month in months_by_year[year.start] %}
								<a class="block w-full px-4 py-2 border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-700 focus:text-primary-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white {% if forloop.first %}rounded-t-lg{% elsif forloop.last %}rounded-b-lg{% endif %}" href="{{events_list_page_url}}?range_gte={{month.start}}&range_lt={{month.end}}&range_type=month&range_field=events">{{month.start | date: "%b" }}</a>
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="mb-4">
		<h4 class="text-lg dark:text-white mb-2">Search by Date</h4>
		<form class="mb-3" title="Search Event by Date" id="event_archive_search_{{sitegurus_ui_uniq_component_id}}">
			<div class="relative mb-2">
				<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="range_gt">Start Date</label>
				<input class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 datepicker-input" data-sg-event="start-date" id="range_gt" name="range_gt" type="date" onclick="if ('showPicker' in HTMLInputElement.prototype) {this.showPicker()}">
			</div>
			<div class="relative mb-2">
				<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="range_lte">End Date</label>
				<input class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 datepicker-input" data-sg-event="end-date" id="range_lte" name="range_lte" type="date" onclick="if ('showPicker' in HTMLInputElement.prototype) {this.showPicker()}">
			</div>
			<div class="flex flex-row-reverse">
				<button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 mr-2">Search</button>
			</div>
		</form>
	</div>
	{% comment %}This is a custom Archive Search function, but it uses the same URL parameters expected by Siteglide. It uses the custom Event URL passed in settings.{% endcomment %}
	<script>
		var eventsArchiveSearchForm = document.querySelector('#eventsArchiveSearch_{{sitegurus_ui_uniq_component_id}}');
		if(typeof sitegurus_ui_events_archive_search != 'function') {
			function sitegurus_ui_events_archive_search(event) {
				event.preventDefault();
				var t = event.currentTarget;
				var start = t.querySelector("[data-sg-event=start-date]");
				var end = t.querySelector("[data-sg-event=end-date]");
				if (isNaN(start.valueAsNumber) || isNaN(end.valueAsNumber) ) {
					alert("Please enter valid dates before searching.");
				} else {
					start = start.valueAsNumber / 1000;
					end = end.valueAsNumber / 1000;
					var url_string = "{{events_list_page_url}}"+"?range_gt="+start+"&range_lte="+end+"&range_type=between&range_field=events";
					location.assign(url_string);
				}
			}
		}
		if(eventsArchiveSearchForm) {
			eventsArchiveSearchForm.addEventListener('submit', sitegurus_ui_events_archive_search);
		}
	</script>
{%- endraw -%}