{%- raw -%}
{% comment %} ---Settings--- {% endcomment %}
  {% comment %}------ Sign up URL ------{% endcomment %}
  {% assign sign_up_url = "/sign-up" %}
{% comment %}---End Settings--- {% endcomment %}
{% capture sitegurus_ui_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}

<section class="bg-white dark:bg-gray-900">
  <div class="grid lg:h-screen lg:grid-cols-2">
    <div class="flex items-center justify-center px-4 py-6 lg:py-0 sm:px-0">
      {% if context.current_user.id == blank %}
        {% form html_class: 'w-full max-w-md space-y-4 md:space-y-6 xl:max-w-xl' -%}
          <h1 class="text-xl font-bold text-gray-900 dark:text-white">Welcome back</h1>
          <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
              <input id="email" name="{{ form_builder.fields.email.name }}" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="email" placeholder="john@example.com" autofill="email">
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
              <input id="password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="password" placeholder="Password" name="{{ form_builder.fields.password.name }}" autofill="existing_password" aria-label="password">
          </div>
          <div class="hidden p-4 mb-4 text-sm text-danger-700 bg-danger-100 rounded-lg dark:bg-danger-200 dark:text-danger-800 form-error" role="alert">
              <!-- Siteglide error message goes here -->
            </div>
          <div class="flex items-center justify-between">
            <div class="flex items-start">
              <a href="/system/recover-password" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a>
            </div>
          </div>
          <button class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" onclick="siteglide_login_process(this,'{{_redirect}}','{{_empty_error_msg}}')">Sign in to your account</button>
          <p class="text-sm font-light text-gray-500 dark:text-gray-400">
              Don't have an account? <a href="{{sign_up_url}}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
          </p>
        {% endform -%}
      {% else %}
        <div class="w-full max-w-md space-y-4 md:space-y-6 xl:max-w-xl">
          <div class="p-4 mb-4 text-sm text-warning-700 bg-warning-100 rounded-lg dark:bg-warning-200 dark:text-warning-800" role="alert">
            <span class="font-medium">You're already logged in.</span>
          </div>
          <a class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 mt-4" onclick="history.back()" href="javascript: void(0);">Back</a>
        </div>
      {% endif %}
    </div>  
    <div class="flex items-center justify-center px-4 py-6 bg-primary-600 lg:py-0 sm:px-0">
      <div class="max-w-md xl:max-w-xl">
        <a href="/" class="flex items-center mb-4 text-2xl font-semibold text-white">
          <img class="w-48 mr-2 dark:hidden" src="{% if context.exports.company_information.properties.logo != blank %}{{context.exports.company_information.properties.logo | asset_url}}{% else %}https://flowbite.com/docs/images/logo.svg{% endif %}" alt="{{context.exports.company_information.properties.company_name}} logo">
          <img class="w-48 mr-2 hidden dark:block" src="{% if context.exports.company_information.properties.logo_white != blank %}{{context.exports.company_information.properties.logo_white | asset_url}}{% else %}https://flowbite.com/docs/images/logo.svg{% endif %}" alt="{{context.exports.company_information.properties.company_name}} logo">
          <span class="hidden">{{context.exports.company_information.properties.company_name}}</span>   
        </a>
        <h1 class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-white xl:text-5xl">Explore the world’s leading design portfolios.</h1>
        <p class="mb-4 font-light text-primary-200 lg:mb-8">Millions of designers and agencies around the world showcase their portfolio work on Flowbite - the home to the world’s best design and creative professionals.</p>
        <div class="flex items-center divide-x divide-primary-500">
          <a href="/" class="text-white dark:text-white">
            <span class="text-sm text-primary-200">Over <span class="font-medium text-white">15.7k</span> Happy Customers</span>                       
          </a> 
        </div>
      </div>
    </div>              
  </div>
</section>
{%- endraw -%}