{%- raw -%}<div class="col-12  mb-3">
  <div class="form-group">
    <label class="form-label" for="{{name}}">{{label}}</label>
    <select {{attributes}} {{validation}} multiple name="{{name}}" id="{{name}}" class="form-select py-4 px-5 {{validation}}">
      {% for option in options %}
        <option {% if value contains option %}selected{% endif %} value="{{option}}">{{option}}</option>
      {% endfor %}
    </select>
  </div>
</div>{%- endraw -%}