{%- raw -%}{% if context.exports.module_86.flowbite_datepicker_script_included == blank  %}
		<script src="https://unpkg.com/flowbite@1.4.7/dist/datepicker.js"></script>
		{% assign flowbite_datepicker_script_included = true %}
		{% export flowbite_datepicker_script_included, namespace: "module_86" %}
	{% endif %}

<div class="mb-6">
  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300" for="{{field_id}}_display">{{label}}</label>
  <div class="relative">
    
    <input {{attributes}} id="{{field_id}}" name="{{name}}" type="number" style="display:none" value="{{value}}">
    <input id="{{field_id}}_display" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-info-500 focus:border-info-500 block w-full  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-info-500 dark:focus:border-info-500" placeholder="Select date" {{validation}} type="datetime-local" onchange="document.querySelector('#{{field_id}}').value=new Date(this.value).getTime()/1000" onclick="if ('showPicker' in HTMLInputElement.prototype) {this.showPicker()}">
    
  </div>
  
</div>

{%- endraw -%}