{%- raw -%}
<figure class="hidden mx-auto w-full max-w-screen-md" data-carousel-item>
  <blockquote>
    <p class="text-lg font-medium text-gray-900 sm:text-2xl dark:text-white">{{this['Quote'] | html_safe}}</p>
  </blockquote>
  <figcaption class="flex justify-center items-center mt-6 space-x-3">
    {% if this['Image'] != blank %}
      <img class="w-6 h-6 rounded-full" src="{{this['Image'] | asset_url}}" alt="{{item.properties.name}}">
    {% endif %}
    <div class="flex items-center divide-x-2 divide-gray-500 dark:divide-gray-700">
      <div class="pr-3 font-medium text-gray-900 dark:text-white">{{this['name']}}</div>
      {% if this['Job Title'] != blank %}
        <div class="pl-3 text-sm font-light text-gray-500 dark:text-gray-400">{{this['Job Title']}} {% if this['Company Name'] != blank %}at {{this['Company Name']}}{% endif %}</div>
      {% endif %}
    </div>
  </figcaption>
</figure>
{%- endraw -%}