{%- raw -%}
{% assign host_id = this.properties.module_field_12_4 | downcase %}
{% assign host = host_results.records.results | detect: id: host_id %}
{% assign host = host | add_hash_key: "Title", host.properties['module_field_6_1'] %}
{% assign host = host | add_hash_key: "Image", host.properties['module_field_6_4'] %}
{% assign host = host | add_hash_key: "Image Alt", host.properties['module_field_6_5'] %}
{% assign then =  this['release_date'] | to_time %}
{% assign now = "now" | to_time %}
{% assign time_elapsed = then | time_diff: now | divided_by: 86400000 | round  %}
<article class="pb-6">
  <div class="flex justify-between items-center mb-5 text-gray-500 pt-6">
      <div class="categories">
      {% for category in this['category_array'] %}
        <a href="{{events_list_page_url}}?category={{context.exports.categories.data[category].id}}" class="bg-primary-100 hover:bg-primary-200 text-primary-800 text-xs font-semibold px-2.5 py-0.5 mt-6 rounded dark:bg-primary-200 dark:text-primary-800 dark:hover:bg-primary-300 mr-2 mb-2">
          {{context.exports.categories.data[category].name  | replace: " ", "&nbsp;"}}
        </a>
      {% endfor %}
      </div>
      <span class="text-sm">
        {% assign time_diff = this['Event Start'] | time_diff: this['Event End'] %}
        {% if time_diff < 86400000 %}
          Starts: {{this['Event Start'] | date: '%d/%m/%y %H:%M'}} - Ends {{this['Event End'] | date: '%H:%M'}}
        {% else %}
          Starts: {{this['Event Start'] | date: '%d/%m/%y %H:%M'}} - Ends: {{this['Event End'] | date: '%d/%m/%y %H:%M'}}
        {% endif %}
      </span>
  </div>
  <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
      <a href="{{this.full_slug}}">{{this.properties.name}}</a>
  </h2>
  {% if this.properties['module_field_12_6'] != blank  %}
    <p class="mb-2 text-sm text-gray-500">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline w-6 h-6 mr-2 mb-1">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
      </svg>
      <span>{{this.properties.module_field_12_6}}</span></p>
  {% endif %}
  <div class="mb-5 font-light text-gray-500 dark:text-gray-400">{{this['Description'] | split: "." | first | append: "." | html_safe}}</div>
  <div class="flex justify-between items-center mt-4">
      <div class="flex items-center space-x-4">
        {% if host.id != blank %}
          {% if host['Image'] != blank %}
            <img class="w-7 h-7 rounded-full" src="{{host['Image'] | asset_url}}" alt="{{host['Image Alt']}}">
          {% endif %}
          <span class="font-medium dark:text-white">
              {{host['Title']}}
          </span>
        {% endif %}
      </div>
      <a href="{{this.full_slug}}" class="inline-flex items-center font-medium text-primary-600 hover:underline dark:text-primary-500">
          Read more
          <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </a>
  </div>
</article> 
{%- endraw -%}