{%- raw -%}
{% comment %}---Settings---{% endcomment %}
  {% comment %}------Insert your Event List View URL here to go there for sorting, searching and filtering results.  {% endcomment %}
  {% assign events_list_page_url = "/events" %}
  {% comment %}------Show a sidebar?  {% endcomment %}
  {% assign sidebar = true %}
  {% comment %} Default (null) is to show all categories in the sidebar. Alternatively, pass in an id (in quotes e.g. '2') for a category which is the parent of event categories to only show relevant categories. {% endcomment %}
  {% assign event_parent_category = null %}
  {% comment %} Redirect users to see past events when they first arrive on Events page (before any URL filters have been applied) {% endcomment %}
  {% assign redirect_users_to_past_events = true %}
{% comment %}---End Settings---{% endcomment %}
{% capture sitegurus_ui_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}
{% assign now = "now" | date: "%s" %}
{% if redirect_users_to_past_events == true and context.headers.QUERY_STRING.size < 2 and context.headers.PATH_INFO == events_list_page_url %}
  {% capture past_events_url %}{{events_list_page_url}}?range_field=events&range_type=future&range_gt={{now}}{% endcapture %}
  {% response_status 302 %}
  {% redirect_to past_events_url %}
{% endif %}


{% assign hosts = "" | split: "," %}
{% for event in context.exports['module_12'].data.result.items %}
  {% assign hosts = hosts | add_to_array: event.properties.module_field_12_4 %}
{% endfor %}
{% assign hosts = hosts | flatten | compact | uniq %}

{% comment %} We are temporarily using GraphQl here while a Siteglide bug is fixed. {% endcomment %}
{% graphql host_results, item_ids: hosts, per_page: 2000 %}
  query host_results($item_ids: [ID!]!, $per_page: Int!) {
    records(
      per_page: $per_page,
      filter: {
        id: {
          value_in: $item_ids
        }
      }
    ) {
      results {
        id
        properties
      }
    }
  }
{% endgraphql %}


<section class="bg-light dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-dark dark:text-white">Events</h2>
      <p class="mb-8 lg:mb-16 font-light text-dark-500 sm:text-xl dark:text-gray-400">
      {% if context.params.module_field_12_4 %}
          Events hosted by {{context.params.host_name | url_decode}}
        {% elsif context.params.range_type == "month" %}
          Events in {{context.params.range_gt | date: "%b-%y"}}
          {{context.params.range_gte | date: "%b-%y"}}
        {% elsif context.params.range_type == "between" %}
          Events between {{context.params.range_gt | date: "%d-%b-%y"}} {{context.params.range_gte | date: "%d-%b-%y"}} and {{context.params.range_lt | date: "%d-%b-%y"}}{{context.params.range_lte | date: "%d-%b-%y"}}
        {% elsif context.params.category %}
          Category: {{context.exports.categories.data[context.params.category].name}}
        {% elsif context.params.keyword %}
          Search Results for {{context.params.keyword}}
        {% else %}
          All Events
        {% endif %}
      </p>
    </div> 
    <div class="grid mx-auto max-w-screen-xl sm:grid-cols-2 lg:grid-cols-3 lg:gap-16">
      <div class="{% if sidebar == true %}col-span-2{% else %}col-span-3{% endif %} divide-y divide-dark-200 dark:divide-dark-700">
          {%- include 'modules/siteglide_system/get/get_items', item_layout: 'item' -%}           
      </div>  
      {% if sidebar == true %}
        <div class="sm:col-span-2 lg:col-span-1">
          {% capture sidebar %}layouts/modules/module_12/{{layout}}/sidebar{% endcapture %}
          {%- include sidebar -%}
        </div> 
      {% endif %}
    </div> 
    {%- if _show_pagination == 'false' and _pagination_layout != blank -%}
      {%- include 'modules/siteglide_system/get/get_pagination', pagination_layout: _pagination_layout -%}
    {%- endif -%}
  </div>
</section>
{%- endraw -%}