{% raw %}
<div class="col-12 col-md-6">
  <label for="{{this_attribute.properties.name | slugify}}">{{name}}</label>
  <select name="{{this_attribute.properties.name | slugify}}" id="{{this_attribute.properties.name | slugify}}" class="form-select sg-bg-light border-0" data-attribute-control="{{product_attribute_id}}" onchange="s_e_update_price()">
    <option selected>No Attribute</option>
    {% for option in product_attribute_options -%}
      <option value="{{option.id}}" data-attribute-price-control="{{option.price_raw}}">{{option.name}} {{this.price.currency_symbol}}{{option.price}}</option>
    {% endfor -%}
  </select>
</div>
{% endraw %}