{%- raw -%}
{% comment %} ---Settings:--- {% endcomment %}
{% comment %} ------ URL for more Testimonials------ {% endcomment %}
{% assign list_url = "/testimonials" %}
{% comment %} ------ Difference between total testimonials and per_page ------ {% endcomment %}
{% assign remaining_testimonials = context.exports.module_8.data.result.total_entries | minus: _per_page %}
{% comment %} ---End Settings--- {% endcomment %}
{% capture sitegurus_ui_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}

<section class="bg-white dark:bg-gray-900">
  <div class="gap-16 py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-3 lg:py-16 lg:px-6">
    <div class="text-gray-500 sm:text-lg dark:text-gray-400">
      <ul class="block mb-3 space-y-4 sm:flex sm:space-y-0 lg:space-y-4 lg:block " id="testimonialTab" role="tablist">
        {%- include 'modules/siteglide_system/get/get_items', item_layout: 'tab-trigger' -%}
      </ul>  
      {% if remaining_testimonials >= 1 %}
        <a class="inline-flex items-center pl-4 text-sm font-medium text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700" href="{{list_url}}">View other {{remaining_testimonials}} testimonial{% if remaining_testimonials > 1 %}s{% endif %}
          <svg class="ml-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
      {% endif %}
    </div>
    <div class="col-span-2 mt-4 divide-y divide-gray-200 dark:divide-gray-700 lg:mt-0">
      <div class="hidden" id="testimonialTabContent-{{sitegurus_ui_uniq_component_id}}">
        {%- include 'modules/siteglide_system/get/get_items', item_layout: 'tab-content' -%}
      </div>
    </div>
  </div>
</section>

<script>
  function checkTabsReady_{{sitegurus_ui_uniq_component_id}}() {
    if(typeof Tabs == "function") {
      initiateTabs_{{sitegurus_ui_uniq_component_id}}();
    } else {
      window.setTimeout(
        function() {
          checkTabsReady_{{sitegurus_ui_uniq_component_id}}();
        }, 500
      )
    }
  }
  
  checkTabsReady_{{sitegurus_ui_uniq_component_id}}();
  
  function initiateTabs_{{sitegurus_ui_uniq_component_id}}() {
    // check out the Flowbite Tabs JS behaviour docs for more information: https://flowbite.com/docs/components/tabs/#javascript-behaviour
    // create an array of objects with the id, trigger element (eg. button), and the content element
    const tabElements = [
      {%- include 'modules/siteglide_system/get/get_items', item_layout: 'tab-element' -%}
    ];
    // options with default values
    const options = {
        activeClasses: 'bg-gray-100 dark:bg-gray-700',
        inactiveClasses: 'bg-white dark:bg-gray-900',
        onShow: () => {
            console.log('tab is shown');
        }
    };
    const tabs = new Tabs(tabElements, options);
    document.getElementById("testimonialTabContent-{{sitegurus_ui_uniq_component_id}}").classList.remove("hidden");
  }
</script>
{% endraw %}