{% raw %}

{% comment %} ---Settings--- {% endcomment %}
{% assign sign_up_url = "/sign-up" %}
{% comment %}---End Settings--- {% endcomment %}

<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="/" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-auto h-8 mr-2 dark:hidden" src="{% if context.exports.company_information.properties.logo != blank %}{{context.exports.company_information.properties.logo | asset_url}}{% else %}https://flowbite.com/docs/images/logo.svg{% endif %}" alt="{{context.exports.company_information.properties.company_name}} logo">
      <img class="w-auto h-8 mr-2 hidden dark:block" src="{% if context.exports.company_information.properties.logo_white != blank %}{{context.exports.company_information.properties.logo_white | asset_url}}{% else %}https://flowbite.com/docs/images/logo.svg{% endif %}" alt="{{context.exports.company_information.properties.company_name}} logo">
    </a>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Sign in to your account
        </h1>
        {% if context.current_user.id == blank %}
          {% form html_class: 'space-y-4 md:space-y-6' -%}
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
              <input name="{{ form_builder.fields.email.name }}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" type="text" placeholder="john@example.com" autofill="email" id="email">
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your password</label>
              <input id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" type="password" placeholder="Password" name="{{ form_builder.fields.password.name }}" autofill="existing_password" aria-label="password">
            </div>
            <div class="hidden p-4 mb-4 text-sm text-danger-700 bg-danger-100 rounded-lg dark:bg-danger-200 dark:text-danger-800 form-error" role="alert">
              <!-- Siteglide error message goes here -->
            </div>
            <div class="flex justify-between">
              <a class="text-sm text-primary-700 hover:underline dark:text-primary-500" href="/system/recover-password">Lost Password?</a>
            </div>
            <button class="w-full text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" onclick="siteglide_login_process(this,'{{_redirect}}','{{_empty_error_msg}}')">Log In</button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
              Not registered? <a class="text-primary-700 hover:underline dark:text-primary-500" href="{{sign_up_url}}">Create Account</a>
            </div>
          {% endform -%}
        {% else %}
          <div>
            <div class="p-4 mb-4 text-sm text-warning-700 bg-warning-100 rounded-lg dark:bg-warning-200 dark:text-warning-800" role="alert">
              <span class="font-medium">You're already logged in.</span>
            </div>
          </div>
          <a class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 mt-4" onclick="history.back()" href="javascript: void(0);">Back</a>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% endraw %}