{% raw %}
{%- function detail_page_valid = "modules/module_86/front_end/functions/v1/detail_page_valid", fc_data: fc_data, full_slug: this.full_slug -%}
<div class="col-12 col-lg-4 mb-5 mb-lg-0">
    <h2>{% if detail_page_valid %}<a href="{{this.full_slug}}">{% endif %}{{field_map['Title 1']}}{% if detail_page_valid %}</a>{% endif %}</h2>
    {% if field_map['Description Short 1'] != blank %}
        <p>{{field_map['Description Short 1']}}</p>
    {% endif %}
    {% if field_map['Button Name 1'] != blank and field_map['Button Link 1'] != blank %}
        <p><a href="/{{field_map['Button Link 1']}}" title="{{field_map['Button Name 1']}}">{{field_map['Button Name 1']}}</a></p>
    {% endif %}
</div>
<div class="col-12 col-lg-4 mb-5 mb-lg-0">
    <h2>{% if detail_page_valid %}<a href="{{this.full_slug}}">{% endif %}{% if field_map['Title 2'] != blank %}{{field_map['Title 2']}}{% else  %}{{field_map['Title 1']}}{% endif %}{% if detail_page_valid %}</a>{% endif %}</h2>
    {% if field_map['Description Short 2'] != blank %}
        <p>{{field_map['Description Short 2']}}</p>
    {% endif %}
    {% if field_map['Button Name 2'] != blank and field_map['Button Link 2'] != blank %}
        <p><a href="/{{field_map['Button Link 2']}}" title="{{field_map['Button Name 2']}}">{{field_map['Button Name 1']}}</a></p>
    {% endif %}
</div>
<div class="col-12 col-lg-4 mb-5 mb-lg-0">
    {% if field_map['Image'] != blank %}
        <img class="rounded-3 mw-100" src="{{field_map['Image'] | asset_url }}" alt="{{field_map['Title 1']}}" width="440">
    {% endif %}
</div>
{% endraw %}