{%- raw -%}

{% assign author_id = this.properties.module_field_3_4 | downcase %}
{% assign author = author_results.records.results | detect: id: author_id %}
{% assign author = author | add_hash_key: "Title", author.properties['module_field_6_1'] %}
{% assign author = author | add_hash_key: "Image", author.properties['module_field_6_4'] %}
{% assign author = author | add_hash_key: "Image Alt", author.properties['module_field_6_5'] %}
{% assign then =  this['release_date'] | to_time %}
{% assign now = "now" | to_time %}
{% assign time_elapsed = then | time_diff: now | divided_by: 86400000 | round  %}
<article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
  <div class="flex justify-between items-center mb-5 text-gray-500">

    <div class="flex flex-wrap justify-between items-center text-gray-500 mr-2">
      {% for category in this['category_array'] %}
        <a href="{{blog_list_page_url}}?category={{context.exports.categories.data[category].id}}" class="bg-primary-100 hover:bg-primary-200 text-primary-800 text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800 dark:hover:bg-primary-300 mr-2 mb-2">
          {{context.exports.categories.data[category].name  | replace: " ", "&nbsp;"}}
        </a>
      {% endfor %}

    </div>
    <span class="text-sm mb-2">{{time_elapsed}} {% if time_elapsed > 1 %}days{% else %}day{% endif %} ago.</span>
  </div>
  <a class="hover:underline" href="{{this['full_slug']}}"><h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{this['Title']}}</h2></a>
  <p class="mb-5 font-light text-gray-500 dark:text-gray-400">{{this['Subtitle']}}</p>
  <div class="flex justify-between items-center">
    {% if author.id != blank %}
      <a href="{{blog_list_page_url}}?module_field_3_4={{context.exports.module_6.data.result.items[0].id}}&author_name={{context.exports.module_6.data.result.items[0].name | url_encode}}" class="flex items-center space-x-4 hover:underline">
        {% if author['Image'] != blank %}
          <img class="w-7 h-7 rounded-full" src="{{author['Image'] | asset_url}}" alt="{{author['Image Alt']}}" />
          <span class="font-medium dark:text-white">
            {{author['Title']}}
          </span>
        {% endif %}
      </a>
    {% endif %}
    <a href="{{this.full_slug}}" class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline">
      Read more
      <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </a>
  </div>
</article> 
{%- endraw -%}