{%- raw -%}
<h2 id="accordion_head_{{sitegurus_ui_uniq_component_id}}_{{forloop.index}}">
  <button type="button" class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-900 bg-white border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900 dark:text-white" data-accordion-target="#accordion_{{sitegurus_ui_uniq_component_id}}_{{forloop.index}}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="accordion_{{sitegurus_ui_uniq_component_id}}_{{forloop.index}}">
    <span>{{this['Question']}}</span>
    <svg data-accordion-icon="" class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
  </button>
</h2>
<div id="accordion_{{sitegurus_ui_uniq_component_id}}_{{forloop.index}}" class="{% unless forloop.first %}hidden{% endunless %}" aria-labelledby="accordion_head_{{sitegurus_ui_uniq_component_id}}_{{forloop.index}}">
  <div class="py-5 border-b border-gray-200 dark:border-gray-700">
    <div class="mb-2 text-gray-500 dark:text-gray-400">{{this['Answer'] | html_safe}}</div>
  </div>
</div>
{%- endraw -%}