{%- raw -%}
<div class="swiper-slide">
  <div class="d-inline-flex align-items-center justify-content-center flex-column pb-5">
    <img class="w-100 h-auto" src="{{ this['Image'] | asset_url }}" alt="{ this['Image Alt'] }}"/>
    {% if this['Title'] != blank %}<h3>{{ this['Title'] }}</h3>{% endif %}
    {% if this['Description'] != blank %}<div>{{ this['Description'] | html_safe}}</div>{% endif %}
    {% if this['Button Name'] != blank or this['Button Link'] != blank %}<a class="btn btn-primary" href="{{this['Button Link']}}" title="">{{this['Button Name']}}</a>{% endif %}
  </div>
</div>
{% endraw %}