{% raw %}
<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-lg-3 col-lg-6">
        {% form html-class: "sg-form" -%}
          <h2 class="text-center">Login</h2>
          <div class="form-group sg-form-group">
            <label for="{{ form_builder.fields.email.name }}">Email Address</label>
            <input class="form-control sg-form-control" type="email" name="{{ form_builder.fields.email.name }}" id="{{ form_builder.fields.email.name }}" autocomplete="name">
          </div>
          <div class="form-group sg-form-group">
            <label for="{{ form_builder.fields.password.name }}">Password</label>
            <input class="form-control sg-form-control" type="password" name="{{ form_builder.fields.password.name }}" id="{{ form_builder.fields.password.name }}" autocomplete="current-password">
          </div>
          <div class="row">
            <div class="col-12 d-flex justify-content-end">
              <button class="btn btn-primary sg-btn sg-btn-primary btn-lg sg-btn-lg" type="submit" onclick="siteglide_login_process(this,'{{_redirect}}','Sorry, that email and password combination was not recognised.')">Log In</button>
            </div>
          </div>
          <br>
          <h6 class="fw-bold">Forgotten your Password?</h6>
          <div class="text-end">
            <a class="" href="/system/recover-password" title="Reset password">Reset Password</a>
            <i class="fas fa-chevron-right"></i>
          </div>
          <div class="form-error my-3 alert alert-danger"></div>
        {% endform -%}
      </div>
    </div>
  </div>
</section>
{% endraw %}