{%- raw -%}
{% assign author_id = this.properties.module_field_3_4 | downcase %}
{% assign author = author_results.records.results | detect: id: author_id %}
{% assign author = author | add_hash_key: "Title", author.properties['module_field_6_1'] %}
{% assign author = author | add_hash_key: "Image", author.properties['module_field_6_4'] %}
{% assign author = author | add_hash_key: "Image Alt", author.properties['module_field_6_5'] %}

<article class="p-4 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
      <a href="{{this.full_slug}}">
          <img class="mb-5 rounded-lg" src="{{this['List Image'] | asset_url}}" alt="{{this['List Image Alt']}}">
      </a>
      <div class="categories">
      {% for category in this['category_array'] %}
        <a href="{{blog_list_page_url}}?category={{context.exports.categories.data[category].id}}" class="bg-info-100 text-purple-800 text-xs font-semibold mr-2 mt-4 px-2.5 py-0.5 rounded dark:bg-info-200 dark:text-info-900">
          {{context.exports.categories.data[category].name  | replace: " ", "&nbsp;"}}
        </a>
      {% endfor %}
    </div>
      <h2 class="my-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
          <a href="{{this.full_slug}}">{{this['Title']}}</a>
      </h2>
      <p class="mb-4 font-white text-gray-500 dark:text-gray-400">{{this['Description']}}</p>
      <div class="flex items-center space-x-4 mt-4">
          <img class="w-10 h-10 rounded-full" src="{{author['Image'] | asset_url}}" alt="{{author['Image Alt']}}">
          <div class="font-medium dark:text-white">
              <div>{{author['Title']}}</div>
              <div class="text-sm font-normal text-gray-500 dark:text-gray-400">{{this['release_date'] | date: '%d %B, %Y'}}</div>
          </div>
      </div>
</article>
{%- endraw -%}