<div class="row bg-white sg-card overflow-hidden">
  <div class="col-12 col-md-7 ps-md-0">
    <img class="mw-100" src="{{this['List Image'] | asset_url}}" width="634" height="370" alt="{{this['List Image Alt']}}">
  </div>
  <div class="col-12 col-md-5 d-flex flex-column justify-content-between p-4">
    <div class="content mb-3">
      <p>{{this['Title']}}</p>
      <h5>{{this['Subtitle']}}</h5>
      <p>{{ this['Description'] | truncate_words: 50}}</p>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-12 col-md-5 mb-3 mb-md-0">
        <a class="text-decoration-none" href="{{this['full_slug']}}" title="lorem">Lorem ipsum <i class="fas fa-chevron-right ms-1 text-secondary"></i></a>
      </div>
      <div class="col-7 col-md-5 offset-5 offset-md-0">
        <div class="row justify-content-end">
          <div class="col-6 text-end">
            <p><i class="fas fa-heart me-2"></i>300</p>
          </div>
          <div class="col-6 text-end">
            <p><i class="fas fa-comment me-2"></i>30</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>