{%- raw -%}
  {%- comment -%} If this item has children, output the item as a heading. This layout does not support more than 2 levels of menu. {%- endcomment -%}
  {%- if this['is_parent'] and _level == 1 -%}
    <div>
      <h2 class="mb-6 text-sm font-semibold text-gray-400 uppercase">{{this['link_name']}}</h2>
      <ul >
        {%- assign _next_level = _level | plus: 1 -%}
        {%- include 'modules/siteglide_menu/get/get_items', level: _next_level, parent_id: this['forced_id'], item_layout: 'item' -%}
      </ul>
    </div>
  {%- else -%}
    {%- comment -%} Else output dropdown children or single item {%- endcomment -%}
    {% if _level == 1 %}
      <div>
        <h2 class="mb-6 text-sm font-semibold text-gray-400 uppercase">{{this['link_name']}}</h2>
        <ul >
          <li class="mb-4">
            <a class="hover:underline " {% if this['link_target'] %} target="{{this['link_target']}}"{% endif %} href="{{this['link_url']}}">{{this['link_name']}}</a>
          </li>
        </ul>
      </div>
    {% else %}
      <li class="mb-4">
        <a class="hover:underline" {% if this['link_target'] %} target="{{this['link_target']}}"{% endif %} href="{{this['link_url']}}">{{this['link_name']}}</a>
      </li>
    {% endif %}
  {%- endif -%}
{%- endraw -%}