{%- raw -%}


{% comment %} ---Settings--- {% endcomment %}
{% comment %} ------Search Results URL------
The URL where you've outputted a search results layout. {% endcomment %}
{% assign search_results_url = "/search-results" %}
{% comment %} ------User Favourites URL------
The URL where you've outputted a user favourites layout, or leave null {% endcomment %}
{% assign user_favourites_url = "/my-favourites" %}
{% comment %} ------Cart URL------
The URL where you've outputted a cart layout, or leave null. Alternatively, this <a> could be manually exchanged for a
modal-like Cart Layout Button. {% endcomment %}
{% assign cart_url = "/cart" %}
{% comment %} ------Dashboard URL------
The URL where you've outputted a Dashboard/ My Account/ Secure Zone layout. {% endcomment %}
{% assign dashboard_url = "/my-account" %}
{% comment %} ------USer CRM Image Field------
The field name in the CRM where a User's profile Picture is stored. If not stored, put null. {% endcomment %}
{% assign user_crm_image_field = null %}
{% comment %} ------login_redirect------ The URL the user will be redirected to after logging in. {% endcomment %}
{% assign login_redirect = dashboard_url %}
{% comment %} ------logout_redirect------ The URL the user will be redirected to after logging in. Default is current page. {% endcomment %}
{% assign logout_redirect = context.location.pathname %}
{% comment %} ------sign-up URL------ The URL where the user will create an account. {% endcomment %}
{% assign sign_up_url = "/sign-up" %}

{% comment %} ---End Settings--- {% endcomment %}
{% capture sitegurus_ui_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}

<header class="bg-white border-gray-200
dark:bg-gray-800"  data-accordion="collapse">
  <nav class="px-4 mx-auto max-w-screen-xl lg:px-6 py-2.5">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <a href="/" class="flex items-center">
      <img src="{% if context.exports.company_information.properties.logo != blank %}{{context.exports.company_information.properties.logo | asset_url}}{% else %}https://flowbite.com/docs/images/logo.svg{% endif %}" class="mr-3 h-6 sm:h-9" alt="{{context.exports.company_information.properties.company_name}} logo" />
      </a>
      <div class="flex items-center">
        <button id="theme-toggle" aria-label="toggle dark mode" type="button" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 mx-2">
          <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
          <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
        </button>
        {% if context.current_user.id == blank %}
          {% capture login_layout -%}{{layout}}/login{%- endcapture %}
          {%- include 'login_form', layout: login_layout, redirect: login_redirect -%}
        {% else %}
          <button type="button" class="flex text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" type="button" data-dropdown-toggle="icon_dropdown_{{sitegurus_ui_uniq_component_id}}">
          <span class="sr-only">Open user menu</span>
          {% if user_crm_image_field != blank and context.exports.current_user[user_crm_image_field] != blank %}
            <img class="w-8 h-8 rounded-full" src="{{context.exports.current_user[user_crm_image_field] | asset_url }}" alt="user photo">
          {% else %}
            <svg class="w-8 h-8 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
          {% endif %}
          </button>
          <!-- Dropdown menu -->
          <div class="hidden z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600" id="icon_dropdown_{{sitegurus_ui_uniq_component_id}}">
          <div class="py-3 px-4">
            <span class="block text-sm text-gray-900 dark:text-white">{{context.exports.current_user.name}}</span>
            <span class="block text-sm font-medium text-gray-500 truncate dark:text-gray-400">{{context.exports.current_user.email}}</span>
          </div>
          <ul class="py-1" aria-labelledby="dropdown">
            <li>
            <a href="{{dashboard_url}}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
            </li>
            <li>
            <a href="{{cart_url}}" class="block py-2 px-4 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Cart</a>
            </li>
            <li>
            {% capture logout_layout -%}{{layout}}/logout{%- endcapture %}
            {%- include 'logout_button', layout: logout_layout, redirect: logout_redirect -%}
            </li>
          </ul>
          </div>
        {% endif %}
        {% if context.exports.company_information.properties.facebook_account != blank %}
          <a href="{{context.exports.company_information.properties.facebook_account}}" class="inline-flex items-center p-2 text-sm font-medium text-gray-500 rounded-lg dark:text-gray-400 hover:bg-gray-50 dark:hover:bg-gray-600">
            <svg class="w-4 h-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/></svg>
          </a>
        {% endif %}
        {% if context.exports.company_information.properties.instagram_account != blank %}
        <a href="{{context.exports.company_information.properties.instagram_account}}" class="inline-flex items-center p-2 text-sm font-medium text-gray-500 rounded-lg dark:text-gray-400 hover:bg-gray-50 dark:hover:bg-gray-600">
          <svg class="w-4 h-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
        </a>
        {% endif %}
        {% if context.exports.company_information.properties.twitter_account != blank %}
        <a href="{{context.exports.company_information.properties.twitter_account}}" class="inline-flex items-center p-2 text-sm font-medium text-gray-500 rounded-lg dark:text-gray-400 hover:bg-gray-50 dark:hover:bg-gray-600">
          <svg class="w-4 h-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"/></svg>
        </a>
        {% endif %}
        
      </div>
      
    </div>
  </nav>
  <nav class="px-4 mx-auto max-w-screen-xl lg:px-6 py-2.5">
    <div class="grid py-4 lg:grid-cols-2">
      <form action="{{search_results_url}}" class="flex mb-4 lg:order-2 lg:mb-0">
        <div class="relative w-full">
          <input name="keyword" type="search" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-lg  border-l-1 md:border-l-6 border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-800 dark:border-l-gray-600  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-primary-500" placeholder="Search anything..." required>
          <button type="submit" class="absolute top-0 right-0 p-2.5 text-sm font-medium text-white bg-primary-700 rounded-r-lg border border-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"><svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button>
        </div>
      </form>
      <div class="flex items-center lg:order-1">
        <ul class="flex flex-wrap flex-row text-sm font-medium -mt-2 -ml-2">
          {%- include 'modules/siteglide_menu/get/get_items', item_layout: 'item' -%}
        </ul>
    </div>
  </nav>
  {%- include 'modules/siteglide_menu/get/get_items', item_layout: 'mega_menu' -%}
</header>
{% endraw %}