{% raw %}
{%- if this['is_parent'] -%}
	<li class="nav-item text-start text-xl-center text-2xl-start mb-3 m-lg-0 me-lg-3 dropdown">
		<a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown_{{level}}_{{sitebuilder_uniq_component_id}}" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{this['link_name']}}</a>
		<ul class="dropdown-menu" aria-labelledby="navbarDropdown_{{level}}_{{sitebuilder_uniq_component_id}}">
			{%- assign _next_level = _level | plus: 1 -%}
			{%- include 'modules/siteglide_menu/get/get_items', level: _next_level, parent_id: this['forced_id'], item_layout: 'item' -%}
		</ul>
	</li>
{%- else -%}
	<li class="{% if level > 1 %}dropdown-item{% else %}nav-item text-start text-xl-center text-2xl-start{% endif %}">
		<a class="nav-link {% unless level > 1 %}text-light{% endunless %}" href="{{this['link_url']}}" title="{{this['link_name']}}"><span>{{this['link_name']}}</span></a>
	</li>
{%- endif -%}
{% endraw %}