{% raw %}
{% comment %} ---Settings--- {% endcomment %}
{% comment %} ------Cart URL------ {% endcomment %}
{% assign cart_url = "/cart" %}
{% comment %} ------Login URL-------- {% endcomment %}
{% assign login_url = "/login" %}
{% comment %} ------Search URL-------- {% endcomment %}
{% assign search_url = "/search-results" %}
{% comment %} ------Account URL-------- {% endcomment %}
{% assign login_url = "/account" %}
{% comment %} ------Wishlist URL-------- {% endcomment %}
{% assign search_url = "/product-wishlist" %}
{% comment %} ---End Settings--- {% endcomment %}
{% capture sitebuilder_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}

<header class="sg-masthead sg-masthead-02">
	<nav class="navbar navbar-expand-xl navbar-dark sg-bg-secondary">
		<div class="container">
			<a style="width: unset; max-height: 30px;" class="navbar-brand" href="/" title="Home" height="30">
				<img class="src="{{context.exports.company_information.properties.logo_white | asset_url}}" >
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav d-flex-lg align-items-xl-center flex-grow-1">
					{%- include 'modules/siteglide_menu/get/get_items', item_layout: 'item' -%}
				</ul>
				<ul class="navbar-nav d-flex-lg align-items-xl-center">
					<li class="nav-item">
						<div class="input-group mb-3 mb-lg-0">
							{% include 'site_search_input'
								search_placeholder: 'Search'
								search_input_class: 'form-control rounded header-search'
								result_page_url: '{{search_url}}'
							-%}
						</div>
					</li>
					<li class="nav-item">
						{% if context.current_user != blank %}
							<div class="dropdown">
								<a class="btn btn-primary dropdown-toggle sg-btn sg-btn-primary account-btn" id="userMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user me-2"></i><span class="sr-only">My Account Menu</span><span class="userMenuItem">{{context.current_user.first_name}}</span></a>
								<ul class="dropdown-menu" aria-labelledby="userMenu">
									<li class="dropdown-item">
										<a href="{{account_url}}" class="nav-link">My Account</a>
									</li>
									<li class="dropdown-item">
										<a href="{{wishlist_url}}" class="nav-link">My Wishlist</a>
									</li>
									<li class="dropdown-item">
										{% capture logout_layout %}{{layout}}/logout{% endcapture %}
										{%- include 'logout_button', layout: logout_layout -%}
									</li>
								</ul>
							</div>
						{% else %}
							<a id="userMenuLogin" class="btn btn-primary sg-btn sg-btn-primary py-2" href="{{login_url}}"><i class="fas fa-user me-2"></i>Account</a>
						{% endif %}
					</li>
					<li class="nav-item">
						{% assign items_in_cart = 0 %}
						{% if context.session.cart != blank %}
							{% assign cart = context.session.cart | to_hash | to_hash %}
							{% for item in cart %}
								{% assign item_quantity = item[1].quantity | plus: 0 %}
								{% assign items_in_cart = items_in_cart | plus: item_quantity %}
							{% endfor %}
						{% endif %}

						<a class="nav-link text-light d-flex align-items-center" href="{{cart_url}}">
							<span class="sr-only">Cart</span>
							<i class="fas fa-shopping-cart text-light"></i>
							(<span data-s-e-live-cart-quantity>{{items_in_cart}}</span>)
						</a>
					</li>
					<li class="nav-item currencyChanger">
						{% capture currency_changer_layout %}{{layout}}/currency_changer{% endcapture %}
						{%- include 'ecommerce/currency_changer', layout: currency_changer_layout -%}
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>


{% endraw %}