{%- raw -%}
<aside aria-label="Sidebar">
  <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800 mb-4">
    <div class="mb-4">
      <h4 class="text-lg dark:text-white mb-2">Categories</h4>
      <div>
        {% for category in context.exports.categories.data %}
          {% if category[1].parent == faq_parent_category or faq_parent_category == blank %}
            <a class="bg-primary-100 hover:bg-primary-200 text-primary-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800 dark:hover:bg-primary-300" href="{{faq_list_page_url}}?category={{category[0]}}">{{category[1].name | replace: " ", "&nbsp;"}}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    
    {% graphql related_articles, category_array: this.category_array, id: this.id %}
      query related_articles($category_array: [String!]=["00000"], $id: ID!){
        records(
          per_page: 4,
          filter: {
            table: {
              value: "module_10"
            }
            properties: [
              {
                name: "category_array",
                array_overlaps: $category_array 
              }
            ],
            id: {
              not_value_in: $id
            }
          },
          sort: {
            properties: {
              name: "release_date",
              order: DESC
            }
          }
        ) {
          results {
            id
            properties
          }
        }
      }
    {% endgraphql %}
    {% if related_articles.records.results.size > 0 %}
      <div class="mb-4">
        <h4 class="text-lg dark:text-white mb-2">Related FAQs</h4>
        <ul role="list" class="mb-4 space-y-3 text-gray-500 dark:text-gray-400">
          {% for article in related_articles.records.results %}
            <li>
              <a href="/{{this['module_slug']}}/{{article.properties.slug}}" class="hover:underline">{{article.properties.module_field_4_1}}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    
    {% capture search %}layouts/modules/module_10/{{layout}}/search{% endcapture %}
    {%- include search -%}
    
  </div>
</aside>
{% endraw %}