{% raw %}
<div class="col d-flex text-center" data-product-group>
	<div class="card mb-5">
		<div class="card-img mb-2">
			<a href="/{{this['module_slug']}}/{{this['slug']}}" title="{{this.name}}">
				<img class="w-100 rounded" src="{{this['Image'] | asset_url}}" alt="{{this.name}}">
			</a>
		</div>
		<div class="card-body p-0 px-3">
			<h4 class="card-title mb-2">
				<a href="{{ this['full_slug'] }}" title="{{this.name}} details">{{this.name}}</a>
			</h4>
			<p class="card-text mb-2">Ut lobortis facilisi eget ac egestas. Donec massa.</p>
			<h6 class="card-text mb-3">{{this.price.currency_symbol}}{{this.price.price_charge_formatted}}</h6>
		</div>
		<div class="card-footer p-0 border-0 bg-transparent px-3 pb-3">
			<p class="card-text">
				{% include 'ecommerce/cart_add', component_layout: 'sg-product-add-02' -%}
				<i class="fas fa-tags"></i>
				{% for category in this.category_array %}
					<a class="px-2 py-1 me-2 mb-2" href="{{context.exports.categories.items[category].full_slug}}" title="{{context.exports.categories.items[category].name}}">{{context.exports.categories.items[category].name}}</a>{% if forloop.last == false %}<p>, </p>{% endif %}
				{% endfor %}
			</p>
		</div>
	</div>
</div>
{% endraw %}